html(lang="en")
head
	meta(charset="UTF-8")
	title OIT ERP Web
	
	//- link(rel='stylesheet', type='text/css', href='./semantic-ui/semantic.css')
	//- link(rel='stylesheet', type='text/css', href='./asset/stylesheets/reset.css')
	link(rel='stylesheet', type='text/css', href='https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css')
	block styleSheet
	
body
	block content
	
	//- script(src='https://code.jquery.com/jquery-2.1.4.min.js')
	//- script(src='./semantic-ui/semantic.js')
	//- script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')
	block javaScript
