extends container

block content
	section.hero(style="background-color:#F5F7FA")
		.hero-content
			.container
				h1.title
					| 教學投影片列表 基本模組
				h2.subtitle
					| 企業資源規劃 ENTERPRISE RESOURCE PLANNING
	hr
	.tabs.is-boxed
		ul
			li.is-active
				a
					i.fa.fa-cube
					|  基本模組
			li
				a(href='./ppts2.html')
					i.fa.fa-cubes
					|  配銷模組
	- for (var i = 0; i < data.length; i++)
		- var ppt = data[i];
		h1.title= ppt.title
		h2.subtitle= ppt.subTitle
		center
			iframe(src='http://docs.google.com/gview?url=' + ppt.url + '&embedded=true', style='width:900px; height:500px;', frameborder='0')
		br
		hr
		br
	include footer
		
